<footer class="site-footer">
    <div class="site-footer__inner container container--narrow">
      <div class="group">
        <div class="site-footer__col-one">
          <h1 class="school-logo-text school-logo-text--alt-color">
            <a class="brand lu" href="/"><strong>Shariq</strong> Nisar</a>
          </h1>
          <p><a class="site-footer__link" href="mailto:shariqnisar@yahoo.com">shariqnisar@yahoo.com</a></p>
        </div>

        <div class="site-footer__col-two-three-group">
          <div class="site-footer__col-two">
            <h3 class="headline headline--small">Explore</h3>
            <nav class="nav-list">
              <ul>
                <li><a href="https://en.wikipedia.org/wiki/Shariq_Nisar" target="_blank">Wikipedia Page</a></li>
                <li><a href="https://scholar.google.com/citations?user=3Sx2E1kAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar Profile</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/conferences">Conferences</a></li>
                <li><a href="/publications/articles">Articles</a></li>
              </ul>
            </nav>
          </div>

          <div class="site-footer__col-three">
            <h3 class="headline headline--small">Quick Links</h3>
            <nav class="nav-list">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/resources">Download</a></li> </ul>
            </nav>
          </div>
        </div>

        <div class="site-footer__col-four">
          <h3 class="headline headline--small">Connect</h3>
          <nav>
            <ul class="min-list social-icons-list group">
              <li>
                <a href="https://www.facebook.com/pages/category/Public-Figure/Dr-Shariq-Nisar-134449570592120/" target="_blank" class="social-color-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/shariqnisar?lang=en" target="_blank" class="social-color-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://in.linkedin.com/in/shariqnisar" target="_blank" class="social-color-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                  <a href="mailto:shariqnisar@yahoo.com" class="social-color-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </li>
            </ul>
          </nav>
          <br /><br />
        </div>
      </div>
      <br />
      <div class="copyright"><marquee behavior="scroll" direction="left">copyright © 2020</marquee></div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>