<%- include("./partials/header") -%>

  <div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(images/singapore.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">About Me</h1>
      <div class="page-banner__intro">
        <p>All about me.</p>
      </div>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Back to Home</a><span class="metabox__main">Miscellaneous</span></p>
    </div> -->

    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
    <br />

    
    <div class="page-links">
      <h2 class="page-links__title"><a href="#">About Me</a></h2>
      <ul class="min-list">
        <li class="current_page_item"><a href="#work-experience">Work Experience</a></li>
        <li><a href="#conferences">Conferences Attended</a></li>
        <li><a href="#awards">Positions and Awards</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#random-things">13 Random Things</a></li>
      </ul>
    </div>

    <div class="generic-content">
     <p>
      I am a Professor at Rizvi Institute of Management Studies and Research (RIMSR).
      Currently, I am on the Board of various companies. Prior to joining RIMSR, I worked at the Harvard Law School as Sr. Visiting Fellow. In 20 years of professional career, I have worked closely with India’s top stock exchanges (BSE and NSE) to launch Shariah compliant financial products. I have also been involved in the launch of several other landmark financial products in the country. I am Academic Steering Committee member of the International Cooperative and Mutual Insurance Federation (ICMIF) and an active advocate of ethical and interest-free finance. I hold a PhD in Economics.
     </p>
    </div>

  </div>

  <div class="page-section page-section--beige beige-texture">
    <div id="work-experience" class="container container--narrow generic-content">
      <h3>--- Here's What I have done so far ---</h3></br>
      <h5>Academic:</h5>
      <p>Professor: Rizvi Institute of Management Studies and Research, Mumbai
        March 1, 2016 till Date<br /><br />
        Adjunct Professor: ITM Business School, Navi Mumbai (Founder and Mentor, India’s First Centre for Alternative Finance)
        May 20, 2015 till 2020 <br /><br />
        Research Consultant: BSE Institute (A wholly owned subsidiary of BSE)
        September 1, 2017 till 2020 <br /><br />
      </p>
        <h5>Industry:</h5>
        <p>
        Independent Director: Transpact Enterprise Ltd.
        Mumbai based Medical device company (April 18, 2019)<br /><br />
        Independent Director: Rehbar Financial Consultant<br /><br />
        Bangalore Based Crowd Funding Platform (August 18, 2018)<br /><br />
        Director: Bait-un-Nasr Urban Cooperative Credit Society
        Mumbai Based Microfinance Society (January 1, 2014)<br /><br />
        Member: Board of Trustees Uplift India Association
        A Micro-Healthcare and Financing Initiative (October 2017)<br /><br />
        Member: Ethics Committee, Mountjudi Ventures
        SEBI Approved Venture Capital Fund (September 1, 2017)<br /><br />
        Consultant: Tata Mutual Fund
        Strategy Advisor to Tata Ethical Fund (September 1, 2017)<br /><br />
      </p>
      </div>
  </div>

  <div id="conferences" class="container container--narrow generic-content page-section page-section--white">
    <div style="margin:auto" class="generic-content">
      <h3 style="text-align:center">Speaker at Conferences</h3>
      <br />
      <!-- <h4>International Conferences:</h4> -->
      <ul>
        <p>
          Islamic Finance Workshop on Micro and MSE Finance: November 27, 2019, Maldives Centre for Islamic Finance (MCIF) Maldives.
        </p><br />
        <p>
          Seminar on Chinese Language and Culture for Financial Practitioners from India, September 16-30, 2019, Beijing.
        </p><br />
        <p>
          Certificate in Law and Regulation of Inclusive Finance, January 14-15, 2019 Luxembourg.
        </p><br />
        <p>
          Global Conference on Awqaf, December 4-6, 2018, Doha, Qatar.
        </p><br />
        <p>
          Alignment of ESG and Impact Investing with Islamic Finance or SRI, October 26 - 27, 2018 Harvard University, Cambridge, Massachusetts, USA.
        </p>
        <hr>
        <br />
        <!-- <span><a href="/conferences">...Read more</a></span> -->
      <!-- </ul> -->
      <!-- <h4>National Conferences:</h4> -->
      <!-- <ul> -->
        <p>Faculty of Management Studies and Research (FMSR), Aligarh Muslim University, October 12,
          2019, Aligarh.
        </p><br />
        <p>
          Mutual Insurance and Takaful Jamia Hamdard, New Delhi, April 12-14, 2019.
        </p><br />
        <p>
          Islamic Wealth Management and Finance in India, Hyderabad, March 23, 2019.
        </p><br />
        <p>
          Madin Academy, Malappuram, Global Islamic Finance and the Indian Economy, Malappuram, December 28, 2018.
        </p><br />
        <p>
          Shariah Compliant Investment Opportunities in Capital Market, University of Kashmir, November 19, 2018.
        </p>
        <br />
        <span><a href="/conferences">...Read more</a></span>
      </ul>
    </div>
  </div>
  
  <div class="page-section page-section--beige beige-texture">
    <div id="awards" class="container container--narrow generic-content">
      <h3>Positions and Awards.</h3></br>
      <ul>
        <p>Member IRDAI Committee on Health Insurance Hub, 2019.</p><br />
        <p>Received Editor's Choice Award 2018 for Excellence in Professional Services" by Editor Inquilab (India's largest newspaper in Urdu and a part of Mid-day Media).</p><br />
        <p>Received Honorary Award from Islamic Finance Forum of South Asia (IFFSA), Colombo for contribution Indian finance industry through Islamic Finance, July 27, 2016.</p><br />
        <p>Received Skoch Digital Inclusion Award 2011 under the category inclusion of minorities in India's financial system on “Digital Inclusion Day”, New Delhi, September 1, 2011.</p><br />
        <p>Member Expert Committee on Banking and Finance, Indo Arab Chamber of Commerce and Industry (2010-2014)</p><br />
        <p>Member Academic Steering Committee, Mutuality in Takaful, International Cooperative Mutual Insurance Federation (ICMIF), UK.</p></br>
        <p>Member Academic Council, Asean Institute of Insurance and Risk Management, India. </p><br />
        <p>Member College Development Committee, Maharashtra College of Arts, Science and Commerce, Mumbai (2018-2019)</p><br />
        <p>Member Editorial Board, “Wealth: International Journal of Money Banking and Finance”.</p><br />
        <p>Secretary Economic Society, Department of Economics, AMU, Aligarh, 1996-97</p><br />
        <p>Secretary Seminar Library, Department of Economics, AMU, Aligarh, 1995-96</p><br />
        <p>Secretary Common Room, Sir Ziauddin Hall, AMU, Aligarh, 1995-96</p><br />
        <p>Captain Volleyball. Sir Ziauddin Hall, AMU, Aligarh, 1994-95</p><br />
        <p>Convener, National Seminar, Islamic Economic Issues and Challenges, Organized by the Indian Association for Islamic Economics at New Delhi, October 1999.</p><br />
        <p>Member AMU Mountaineering team: <br /><br /><ol>
          <p>Attended Adventure Course at Nehru Institute of Mountaineering (NIM), Uttar Kashi
          </p>
          <p>Attended Basic Course at Himalayan Institute of Mountaineering (HIM) Manali
          </p>
        </p>
        </ol><br />
        <p>Member National Service Scheme (N.S.S.) attended many camps and won many prizes</p><br />
        <p>Joint Editor Islamic Economics Bulletin 2000-2005</p><br />
        <p>Moderated Webinar on Microfinance Organized by USAID & KDID.
        </p><br />
      </ul>

      </div>
  </div>
  <div id="education" class="page-section page-section--white white-texture">
    <div class="generic-content table">
      <h3>Education</h3>
       <table>
         <tr>
           <td>PhD in Economics</td>
           <td>2003</td>
           <td>Aligarh Muslim University, Aligarh, U.P. India
            Thesis: Recent Developments in Banking Organizations: With Special Reference to Islamic Banking and Finance</td>
         </tr>
         <tr>
           <td>M.A. (Economics)</td>
           <td>1997</td>
           <td>Aligarh Muslim University, Aligarh, U.P. India
            First Divisioternational Finance and Islamic Economics</td>
         </tr>
         <tr>
           <td>B.A. (Hons.)</td>
           <td>1995</td>
           <td>Aligarh Muslim University, Aligarh, U.P. India
            First Division, Economics, Geography and Political Science</td>
         </tr>
         <tr>
           <td>Certificate Program in Capital Market</td>
           <td>2005</td>
           <td>University of Bombay and the BSE Institute, India
          ion</td>
         </tr>
       </table>
       <br /><br />
    </div>


  <div id="random-things" class="page-section--beige beige-texture">
   <div class="container container--narrow">
     <br /><br />
      <h2 class="headline headline--medium">13 Random Things about me and my blessed life.</h2>
      <div class="generic-content">
        <p>
          <ul>
            <p>I am a lover of Ancient architecture.</p>
            <p>I love productivity, but have never used Evernote.</p>
            <p>I am a former volleyball player.</p>
            <p>I've been repeatedly told by my family that I walk too fast. I think I've slowed down considerably over the years.</p>
            <p>I don't believe in conspiracy theories.</p>
            <p>I was never good at Math.</p>
            <p>I watched a ton of movies in my childhood.</p>
            <p>I love to listen to Qawali.</p>
            <p>I search for meaning and purpose, even in small things.</p>
            <p>I love the mountains.</p>
            <p>According to my family, I am an informaniac</p>
          </ul>
        </p><br />
       </div> 
       <div class="generic-content">
        <h5>A Few Pet Peeves</h5>
        <p>
          <ul>
            <p>Dishonesty.</p>
            <p>People who interrupt when I speak.</p>
            <p>Plagiarism.</p>
            <p>Forgetfulness.</p>
          </ul>
        </p>
       </div>
      </div>
    </div>
      <div class="container container--narrow">
       
     <hr class="section-break">
     <div class="generic-content" style="text-align:center">
      <h4>Further Reading</h4>
    </div>

     <div class="row group generic-content">
      <div class="one-third">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates vero vel temporibus aliquid possimus, facere accusamus modi. Fugit saepe et autem, laboriosam earum reprehenderit illum odit nobis, consectetur dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae, tempora alias atque vero officiis sit commodi ipsa vitae impedit odio repellendus doloremque quibusdam quo, ea veniam, ad quod sed.</p>
      </div>

      <div class="one-third">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates vero vel temporibus aliquid possimus, facere accusamus modi. Fugit saepe et autem, laboriosam earum reprehenderit illum odit nobis, consectetur dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae, tempora alias atque vero officiis sit commodi ipsa vitae impedit odio repellendus doloremque quibusdam quo, ea veniam, ad quod sed.</p>
     </div>

      <div class="one-third">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates vero vel temporibus aliquid possimus, facere accusamus modi. Fugit saepe et autem, laboriosam earum reprehenderit illum odit nobis, consectetur dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestiae, tempora alias atque vero officiis sit commodi ipsa vitae impedit odio repellendus doloremque quibusdam quo, ea veniam, ad quod sed.</p>
      </div>
    </div>
    </div>
</div>

<%- include("./partials/footer.ejs") -%>

