<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/dubai.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Articles</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/publications"><i class="fa fa-book" aria-hidden="true"></i>  Back to Publications</a></p>
    </div> -->
    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="/publications">Publications</a></li>
          <li class="breadcrumb-item active" aria-current="page">Articles</li>
        </ol>
      </nav>
   </div>
   <br />

 

    <div class="alert alert-primary" role="alert">
      To view/download each article, head to <a href="/resources/articles"><u>resources</u></a> !
    </div>

    <div class="generic-content">
      <h3>Articles:</h3>
      <ul>
        <p>Nisar, Shariq. (2018) Islamic Bonds (Sukuk) and Its Application, Wealth: International Journal of Money, Banking and Finance, Vol. 7, Issue 2.</p>
        <br />
        <p>Nisar, Shariq (et all). (2017) ICMIF Country Diagnostic on Mutual and Cooperative Microinsurance in India, jointly published by ICMIF and Insurance Institute of India.</p>
        <br />
        <p>Nisar, Shariq and Ali, S Nazim. (2016) “The Significance of Faith-based Ethical Principles in Responding to the Recurring Financial Crises” Journal of Islamic Banking and Finance, October - December.</p>
        <br />
        <p>Nisar, Shariq and Wasiullah, SM. (2016) “Performance of Sharia Compliant Equities: A Case Study of India” Global Islamic Finance Report, the UK.</p>
        <br />
        <p>Nisar, Shariq and Mohammad Shaqil. (2015) “The state of the Indian asset management landscape serving Shariah sensitive customers: Opportunity size and challenges” Thomson Reuters Global Islamic Asset Management: Outlook.</p>
        <br />
        <p>Nisar, Shariq. (2015) “Shrinking Space for Islamic Finance in India”, Economic and Political Weekly, Vol. - L No. 17, April 25, Mumbai, India.</p>
        <br />
        <p>Nisar, Shariq and Khatkhatay, MH. (2014) “Conceptual Understanding of Service Charges on Loans and Its Application in Islamic Microfinance”, Sahulat: A Journal of Interest Free Microfinance, (ISSN 2319-2941) Vol. 1, No. 3, New Delhi, India.</p>
        <br />
        <p>Nisar, Shariq. (2012) “Shariah Finance: Gaining Foothold in India” Forum Views, Volume 1, Issue 8, Mumbai, India.</p>
        <br />
        <p>Nisar, Shariq. (2012) “Tapping Takaful”, Cover Story Asia Insurance Post, Volume 12 Issue 8.</p>
        <br />
        <p>Nisar, Shariq. (2011) “Islamic Banking: A Rejoinder”, Economic & Political Weekly, Mumbai, India.</p>
        <br />
        <p>Nisar, Shariq. (2010) “Road to Islamic Finance in India” In Global Islamic Finance Report, 2010.</p>
        <br />
        <p>Nisar, Shariq. (2009) “Purging of Impure Income: An Appraisal of Current Shariah Practices”, In Dow Jones Islamic Market Indexes Quarterly Newsletter.</p>
        <br />
        <p>Nisar, Shariq. (2008) “Islamic Investment Opportunities in India” In Islamic Finance News, Kuala Lumpur, Malaysia, January.</p>
        <br />
        <p>Nisar, Shariq. (2008) “Islamic MFs Enter Shariah compliant product”, Chartered Financial Analyst, April.</p>
        <br />
        <p>Nisar, Shariq. (2008) “Current Financial Crisis: Causes and Islamic Financial Solution”, True Banking, Lahore, Pakistan.</p>
        <br />
        <p>Nisar, Shariq. (2007) “Islamic Finance in India” In Islamic Finance News, Kuala Lumpur, Malaysia, August 3.</p>
        <br />
        <p>Nisar, Shariq and Khatkhatay, MH. (2007) “Shariah Compliant Equity Investments: An Assessment of Current Screening Norms”, Islamic Economic Studies, Vol. 15 No. 1, Jeddah, KSA.</p>
        <br />
        <p>Nisar, Shariq. (2007) “Taking The Stage: Islamic Investment Opportunity in India” in Business Islamica, UAE, January.</p>
        <br />
        <p>Nisar, Shariq. (2007) “Islamic Finance: Looking Towards West”, (Interview published in) The Sunday Indian, Issue 23, New Delhi, India, December.</p>
        <br />
        <p>Nisar, Shariq. (2007) “On the Crossroads of Shariah Compliance”, (Co-Authored) Islamic Banking and Finance, Issue 13, the UK.</p>
        <br />
        <p>Nisar, Shariq. (2006) “Islamic Finance: Conventional Dilemma” In Islamic Finance Today, Colombo, December.</p>
        <br />
        <p>Nisar, Shariq. (2006) “Islamic Investment Opportunities in India” Islamic Finance Today, Colombo, Sri Lanka, December.</p>
        <br />
        <p>Nisar, Shariq. (2006) “The Practices of Islamic Banking and Finance”, Islamic Business & Finance, Dubai, November.</p>
        <br />
        <p>Nisar, Shariq. (2006) “The Future of Islamic Finance & Economics”, Islamic Finance Today, Issue 01, Sri Lanka, September.</p>
        <br />
        <p>Nisar, Shariq. (2006) “India a Land of Islamic Investments Opportunities”, Islamic Business & Finance, Dubai, UAE, January.</p>
        <br />
        <p>Nisar, Shariq. (2005) “Challenges for Islamic Banks in India”, Islamic Business and Finance, Dubai, December.</p>
        <br />
        <p>Nisar, Shariq. (2005) “Islamic Banking: Potential for Growth”, Chartered Financial Analyst, Hyderabad, India, December.</p>
        <br />
        <p>Nisar, Shariq. (2005) “Islamic Banking in India: Need of the Hour”, Islamic Business and Finance, Dubai, November.</p>
        <br />
        <p>Nisar, Shariq and Khan, Javed Ahmed. (2004) “Collateral (Al-Rahn) as Practiced by Muslim Funds of North India”, In Journal of King Abdul Aziz University: Islamic Economics, King Abdul Aziz University, Jeddah, Kingdom of Saudi Arabia, Vol. 17, No. 1.</p>
        <br />
        <p>Nisar, Shariq. (2004) “Contemporary Issues Facing Islamic Banking”, In Journal of West Asian Studies, Aligarh Muslim University, ISSN Number: 0975-7864, Aligarh, India.</p>
        <br />
        <p>Nisar, Shariq. (2002) “The State of Islamic Finance in India: Strengths and Weaknesses”, Review of Islamic Economics, Leicester, the UK.</p>
      </ul>
      <br />
    </div>

  </div>
<%- include("./partials/footer.ejs") -%>