<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/london.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Book Reviews</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/publications"><i class="fa fa-book" aria-hidden="true"></i>  Back to Publications</a></p>
    </div> -->
    

    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="/publications">Publications</a></li>
          <li class="breadcrumb-item active" aria-current="page">Book Reviews</li>
        </ol>
      </nav>
   </div>
   <br />


    
    <div class="page-links">
      <h2 class="page-links__title"><a href="#">Reviews</a></h2>
      <ul class="min-list">
      </ul>
    </div>

    <div class="generic-content">
      <h3>Reviews:</h3>
      <ul>
        <li>Islamic Financial Institutions of India: Progress, Problems and Prospects, By: M.I. Bagsiraj, Scientific Publishing Centre, King Abdul Aziz University, Jeddah, Saudi Arabia. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, September 2004, Vol.14, No.5, pp.3.</li><br />
        <li>Islamic Banking and Finance: New Perspectives on Profit Sharing and Risk, (Edits.) Munawar Iqbal and David, T. Llewellyn, Edward Elgar, Cheltenham, UK. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, January 2004, Vol.14, No.1, pp. 3-4</li><br />
        <li> Prohibition of Interest: Does it make sense? By M. Umer Chapra, Published by: Islamic Dawah
          Movement, Durban, South Africa. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, January
          2002, Vol. 13, No.2, pp.3.</li><br />
        <li>Islamicity of Banking and Modes of Islamic Banking, By: Mohd Anwar, Selangor, Malaysia.
          Reviewed by Nisar, Shariq, Islamic Economics Bulletin, May 2002, Vol.12, No.3, pp.3</li><br />
        <li>Social Sciences in Islamic Perspectives: A Bibliography of Contemporary Literature, Javed Ahmad
          Khan, Institute of Objective studies, New Delhi. Reviewed by Nisar, Shariq, Islamic Economics
          Bulletin, March 2002, vol.12, No.2, pp.3</li><br />
        <li>Participatory Finance through Investment Banks and Commercial Banks, By: A.L.M. Abdul Gafoor,
          Aptech Publication, the Netherlands. Reviewed by Nisar, Shariq, Islamic Economics Bulletin,
          September 2001, Vol.11 No.5, pp.3.</li><br />
        <li>Contemporary Islamic Economic Thought: A Selected Comparative Analysis, By: Mohammed
          Aslam Haneef, Ikraq, Selangor, Malaysia. Reviewed by Nisar, Shariq, Islamic Economics Bulletin,
          Jan 2000, Vol. 10 No.6, pp. 3-4.</li><br />
        <li>Islamic Finance: A Partnership for Growth, By: Philip Moore, Euromoney Publication PLC, UK.
            Reviewed by Nisar, Shariq, Islamic Economics Bulletin, Jan 2000, Vol. 10 No.1, pp. 3.</li><br />
      </ul>
    </div>

  </div>
<%- include("./partials/footer.ejs") -%>