<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/beiging.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Books and Chapters</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/publications"><i class="fa fa-book" aria-hidden="true"></i>  Back to Publications</a></p>
    </div>
     -->

     <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="/publications">Publications</a></li>
          <li class="breadcrumb-item active" aria-current="page">Books and Chapters</li>
        </ol>
      </nav>
   </div>
   <br />


    <div class="page-links">
      <h2 class="page-links__title"><a href="#">Books and Chapters</a></h2>
    <ul class="min-list">
      <li><a href="#books">Books</a></li>
      <li><a href="#chapters">Chapters</a></li>
    </ul>
  </div>
    <div id="books" class="generic-content">
      <ol>
        <h3>Books:</h3>
        <strong><p>Takaful and Islamic Cooperative Finance: Challenges and Opportunities, (Co-Edited with S Nazim Ali) ISBN: 978 1 78536 335 1, Edward Elgar, UK, 2016.</p></strong><br /><br />
        <h5>Abstract:</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?</p>
        <span><a href="/publications/books/takaful-and-islamic-cooperative-finance">...see more</a></span>
        <br /><br />  <br /><br />
        <strong><p>Islamic Finance and Development, Cambridge, Massachusetts: Harvard Law School, University, 2014, 350p. ISBN 097028358X (Co-Edited with S Nazim Ali and U. Oseni).</p></strong><br /><br />
        <h5>Abstract:</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?</p>
        <br />
        <span><a href="/publications/books/islamic-finance-and-development">...see more</a></span>
        <br /><br />   <br /><br />
        <strong><p>Islamic Banking, Finance and Capital Market, used by the Bombay Stock Exchange (BSE) Institute as text book for online Islamic Finance Certification Program, 2013 (co-authored with Mohd Ayub Khan).</p></strong><br /><br />
        <h5>Abstract:</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel minus voluptas labore vero cumque ex, minima modi sit harum, excepturi sint in obcaecati voluptates deleniti adipisci, ipsa voluptate magnam reiciendis?</p>
        <br /><br />
        <span><a href="/publications/books/islamic-banking-finance-and-capital-market">...see more</a></span>
        <br /><br /> 
    </div>

  </div>
  <div class="page-section page-section--beige beige-texture">
    <div id="chapters" class="container container--narrow generic-content">
      <ol>
        <h3>Chapters:</h3>
        <p>Nisar, Shariq and Farooq, Umar. (2020) “Shari‘Ah Governance Practices in India”, The Edinburgh Companion to Shari’ah Governance in Islamic Finance, Edinburgh University Press, the UK, (ISBN 978-1474436007).</p><span></span><br /><br />
        <p>Nisar, Shariq and Farooq, Umar. (2019) “Financial Intermediation, Fintech and Shariah Compliance”, Fintech in Islamic Finance: Theory and Practice, Routledge, London, the UK, (ISBN 978-1-138-49479-4).</p><span></span><br /><br />
        <p>Nisar, Shariq and Rahman, Syed Mizanur. (2012) “Minority funds in India: institutional mobilization of micro savings”, In Shari‘a-compliant Microfinance, Routledge, London, the UK. ISBN 041578266X</p><span></span><br /><br />
        <p>Nisar, Shariq and Khatkhatay, M.H. (2008) “Investments in Stocks: A Critical Review of Dow Jones Shariah Screening Norms”, Islamic Capital Market: Products, Regulations and Development, IRTI/Islamic Development Bank, Jeddah, KSA, (ISBN 978-9960-32-179-0).</p><span><a href="#"></a></span><br /><br />
      </ol>
      </div>
  </div>

<!--         -->
  
<%- include("./partials/footer.ejs") -%>