<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/kualalampur.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Speaker at Conferences</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/about"><i class="fa fa-user" aria-hidden="true"></i>  Back to About</a></p>
    </div> -->
    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Conferences</li>
        </ol>
      </nav>
    </div>
    <br />

    
    <div class="page-links">
      <h2 class="page-links__title"><a href="#">Conferences</a></h2>
      <ul class="min-list">
      </ul>
    </div>

    <div class="generic-content">
    <h3>International Conferences:</h3>
      <ul>
          <p>Islamic Finance Workshop on Micro and MSE Finance: November 27, 2019, Maldives Centre for
            Islamic Finance (MCIF) Maldives.</p><br />
          <p>Seminar on Chinese Language and Culture for Financial Practitioners from India, September 16-
            30, 2019, Beijing.</p><br />
          <p>Certificate in Law and Regulation of Inclusive Finance, January 14-15, 2019 Luxembourg.</p><br />
          <p>Global Conference on Awqaf, December 4-6, 2018, Doha, Qatar</p><br />
          <p>Alignment of ESG and Impact Investing with Islamic Finance or SRI, October 26 - 27, 2018
            Harvard University, Cambridge, Massachusetts, USA.</p><br /><br />
        <span><a href="/conferences/international-conferences">...Read more</a></span>
       </ul>
       <br /><br />
       <h3>National Conferences:</h3>
       <ul>
           <p>Faculty of Management Studies and Research (FMSR), Aligarh Muslim University, October 12,
            2019, Aligarh.</p><br />
           <p>Mutual Insurance and Takaful Jamia Hamdard, New Delhi, April 12-14, 2019.</p><br />
           <p>Islamic Wealth Management and Finance in India, Hyderabad, March 23, 2019</p><br />
           <p>Madin Academy, Malappuram, Global Islamic Finance and the Indian Economy, Malappuram,
            December 28, 2018.</p><br />
           <p>Shariah Compliant Investment Opportunities in Capital Market, University of Kashmir,
            November 19, 2018.</p><br /><br />
            <span><a href="/conferences/national-conferences">...Read more</a></span>
       </ul>

    </div>

  </div>
<%- include("./partials/footer.ejs") -%>