<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(images/contact.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Contact</h1>
      <div class="page-banner__intro">
        <p>Touch base with me.</p>
      </div>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Back to Home</a> <span class="metabox__main">Contact</span></p>
    </div> -->
    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
      </nav>
    </div>
    <br />


    <!-- <div class="generic-content">
      <br />
      <h5>Interested in contacting me? Do write to <a class="mail" target="_blank" rel="noopener noreferrer" href="mailto:shariqnisar@yahoo.com"><u>shariqnisar@yahoo.com</u></a>. Let me catch up with you as soon as I can. Please allow me a few days to respond.</h5><br />
    </div>
        <div class="contact-social">
      <h4>Social Links -</h4>
      <nav>
        <ul class="min-list social-icons-list group">
          <li>
            <a href="https://www.facebook.com/pages/category/Public-Figure/Dr-Shariq-Nisar-134449570592120/" target="_blank" class="social-color-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/shariqnisar?lang=en" target="_blank" class="social-color-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
              <a href="mailto:shariqnisar@gmail.com" class="social-color-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://in.linkedin.com/in/shariqnisar" target="_blank" class="social-color-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav>
     </div>   -->
     <div class="jumbotron me-jumbo">
      <h1 class="display-4">Hey, there !</h1>
      <p class="lead">Wish to contact me? Do write to <a class="mail" target="_blank" rel="noopener noreferrer" href="mailto:shariqnisar@yahoo.com"><u>shariqnisar@yahoo.com</u></a>. Let me catch up with you as soon as I can. Please allow me a few days to respond.</h5><br /> </p>
      <hr class="my-4">
      <div class="jumbo-social">
       <div class="contact-social">
        <h4>Social Links -</h4>
        <nav>
          <ul class="min-list social-icons-list group">
            <li>
              <a href="https://www.facebook.com/pages/category/Public-Figure/Dr-Shariq-Nisar-134449570592120/" target="_blank" class="social-color-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/shariqnisar?lang=en" target="_blank" class="social-color-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="mailto:shariqnisar@gmail.com" class="social-color-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://in.linkedin.com/in/shariqnisar" target="_blank" class="social-color-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
       </div> 
    </div>
  </div>
  </div> 
<%- include("./partials/footer.ejs") -%>

<!--  -->