<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/articles.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Speaker(Nat. Conferences)</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/conferences"><i class="fa fa-user" aria-hidden="true"></i>  Back to Conferences</a></p>
    </div> -->
    <div class="metabox--position-up metabox--with-home-link">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/conferences">Conferences</a></li>
            <li class="breadcrumb-item active" aria-current="page">National Conferences</li>
          </ol>
        </nav>
        <br />
    </div>
    <br />


    <div class="generic-content">
      <h3>Conferences:</h3>
      <ul>
        <p>Faculty of Management Studies and Research (FMSR), Aligarh Muslim University, October 12,
            2019, Aligarh.</p>
        <br />
        <p>Mutual Insurance and Takaful Jamia Hamdard, New Delhi, April 12-14, 2019.</p>
        <br />
        <p>Islamic Wealth Management and Finance in India, Hyderabad, March 23, 2019.</p>
        <br />
        <p>Madin Academy, Malappuram, Global Islamic Finance and the Indian Economy, Malappuram,
            December 28, 2018.</p>
        <br />
        <p>Shariah Compliant Investment Opportunities in Capital Market, University of Kashmir,
            November 19, 2018.</p>
        <br />
        <p>World Islamic Economic Forum (WIFE), Panel Discussion on: WIFE-UEF Chennai Roundtable,
            Chennai, November 10, 2018.</p>
        <br />
        <p>Maulana Azad National Urdu University (MANUU), Islamic finance education and research,
            Hyderabad, October 18, 2018</p>
        <br />
        <p>United Economic Forum (UEF), Islamic Finance in Indian Business Context, Chennai, July 28,
            2018</p>
        <br />
        <p>University of Calicut, Debt and Interest Crisis in Economic Development, Calicut, February 14,
            2018.</p>
        <br />
        <p>Interest-Free and Equitable Finance in India: Road Ahead, PHD Chamber of Commerce and
            Industry, New Delhi, October 6, 2017.</p>
        <br />
        <p>Selected as resource person for undergoing five-days intensive training under PM YUVA Yojna,
            Nagpur, September 11-15, 2017.</p>
        <br />
        <p>Jamia Millia Islamia, Islamic Microfinance under GIAN initiative, New Delhi, September 5-7, 2017.</p>
        <br />
        <p>Baba Ghulam Shah Badshah (BGSB) University, Islamic Banking and Finance, Rajouri, J&K, April
            19, 2017.</p>
        <br />
        <p>Asean Institute of Insurance and Risk Management (AIIRM), The Practice of Takaful and its
            Spread and Penetration Across the World, Mumbai February 11, 2017.</p>
        <br />
        <p>Back to Basics: Need of the Hour for Insurance and Co-operatives, Insurance Institute of India,
            Bangalore May 23, 2016.</p>
        <br />
        <p>University of Calicut, Islamic Finance and Entrepreneurial Venture Possibilities in India, February
            29 and March 1, 2016.</p>
        <br />
        <p>Jamal Mohamed College, Tiruchirappalli, Practical Application of Interest Free Financing for the
            Economic Development, January 13, 2016.</p>
        <br />
        <p>Innovative Bonds & Securitization Summit 2015, Vinod Kothari Consultants, Mumbai September
            4, 2015.</p>
        <br />
        <p>Asean Institute of Insurance and Risk Management (AIIRM), India’s Capacity and Potential to
            Become a Leading Nation in Insurance, Chennai January 31, 2015.</p>
        <br />
        <p>Wadihuda Institute of Research and Advance Studies (WIRAS), Progress and Challenges of Islamic
            Banking and Finance in India, Kannur, Kerala on January 20, 2015.</p>
        <br />
        <p>Select Committee of the Indian Parliament Indian Insurance Regulation, October 14, 2014.</p>
        <br />
        <p>Islamic Banking and Finance: Challenges and Possibilities, Srinagar, August 31, 2014.</p>
        <br />
        <p>Asean Institute of Insurance and Risk Management (AIIRM), Islamic Insurance (Takaful), New
            Delhi on December 21, 2013.</p>
        <br />
        <p>University of Science and Technology Meghalaya (USTM), Seminar on Interest Free Banking at the
            School of Business Sciences, August 17, 2013.</p>
        <br />
        <p>Global Economic Crisis: An Islamic View”, John Matthai Center, Thrissur, Marche 25, 2013.</p>
        <br />
        <p>Financial Inclusion Multi-Perspective, Institute of Technology and Management, Kharghar, New
            Bombay, February 3-4, 2012.</p>
        <br />
        <p>Interest-free Finance in India: Problems and Prospects, UGC Sponsored National Seminar on
            “Interest-free Finance in India: Problems and Prospects”, EMEA College, Kondotty, Calicut,
            January 24-25, 2012.</p>
        <br />
        <p>Interest-free Banking and Investment: International Scenario, NAM College, Kallikkandy,
            Kannur, January 9-10, 2012.</p>
        <br />
        <p>ICT in Minorities, Weaker Sections and Gendered Development, Digital Inclusion Day, New
            Delhi, September 1, 2011.</p>
        <br />
        <p>Shariah aspects of E-Gold & E- Silver Products, National Spot Exchange, Surat, Gujrat, July 27,
            2011.</p>
        <br />
        <p>National Seminar on Interest Free Institutional Mechanism for Banking, Finance and Insurance,
            Trivandrum, July 4, 2011.</p>
        <p>Reaching Banking and other Financial Services for Minorities, 26th Skoch Summit, Mumbai, June
            2-3, 2011.</p>
        <p>National Conference on Prospects of Islamic Venture Capital Fund in India, Parliament Annexe,
            New Delhi, May 14-15, 2011.</p>
        <p>Emergence of India as Global Economic Superpower: Fiction or Future, Poona College, April 27,
            2011.</p>
        <p>Kerala High Court Judgment and the Possibility of Islamic Banking in India, Jamia Millia Islamia,
            New Delhi, March 8, 2011.</p>
        <p>Economic Concepts of Quran (in Urdu), Hyderabad, February 7-9, 2011.</p>
        <p>The Shariah Index: The Recent Trends in Stock Market, Areacode, Kerala, January 28-30, 2011.</p>
        <p>Sukuk and Islamic Capital Market, Kochi, October 4-6, 2010.</p>
        <p>Islamic Finance as an Alternative Financial System, AMU, Aligarh, April 2010.</p>
        <p>Financial Innovation for Inclusive Growth, India Shariah Finance Summit, New Delhi, April 26-28,
            2010.</p>
        <p>Islamic Finance in India, The Challenges and Opportunities, Pune College, March 20, 2010.</p>
        <p>Islamic Finance in India: The Missing Opportunity, Trivandrum, Kerala, February 11, 2010.</p>
        <p>The Means of Capital Generation in Islam, Jamia Hamdard Convention Center, New Delhi,
            October 25, 2009.</p>
        <p>Islamic Finance for Sustainable Development, Farooq College, September 3, 2009.</p>
        <p>Islamic Finance in India: Does It Make Sense?, Kolkata on April 5, 2009.</p>
        <p>Interest-free Microfinance in India: Problems and Prospects, Thrissur, March 5, 2009.</p>
        <p>Islamic Finance in Indian Real Estate, Mumbai, India, July 1 - 3, 2008.</p>
        <p>Islamic Banking in India: Past, Present and the Future, New Delhi, India, February 18-19, 2006.</p>
        <p>Islamic Investment Opportunities in Indian Stock Market, Islamiya College Vaniyambadi, January
            29, 2006.</p>
        <p>Entrepreneurial Developments of Indian Muslims and Role of Muslim Funds, Osmania
            University, Hyderabad on December 20-21, 2005.</p>
      </ul>
      <br />
    </div>

  </div>
<%- include("./partials/footer.ejs") -%>