<%- include("./partials/header") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/new-york.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Publications</h1>
    </div>  
  </div>

  <div class="container container--narrow page-section">
<!-- 
    <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Back to Home</a><span class="metabox__main">Publications</span></p>
    </div> -->

    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Publications</li>
        </ol>
      </nav>
    </div>
    <br />

    
    <div class="page-links">
      <h2 class="page-links__title"><a href="#">Publications</a></h2>
      <ul class="min-list">
        <li class="current_page_item"><a href="#books">Books</a></li>
        <li><a href="#chapters">Chapters</a></li>
        <li><a href="#book-reviews">Book Reviews</a></li>
        <li><a href="#articles">Articles</a></li>
        <li><a href="#islamic-economics-bulletin">Islamic Economics Bulletin</a></li>
      </ul>
    </div>

    <div class="generic-content">
      <div id="books">
      <h3>Books and Chapters</h3><br />
      <h5>Books:</h5>
      <ul>
        <p>Takaful and Islamic Cooperative Finance: Challenges and Opportunities, (Co-Edited with S Nazim Ali) ISBN: 978 1 78536 335 1, Edward Elgar, UK, 2016.</li><br />
        <p>Islamic Finance and Development, Cambridge, Massachusetts: Harvard Law School, University, 2014, 350p. ISBN 097028358X (Co-Edited with S Nazim Ali and U. Oseni).</p><br />
        <p>Islamic Banking, Finance and Capital Market, used by the Bombay Stock Exchange (BSE) Institute as text book for online Islamic Finance Certification Program, 2013 (co-authored with Mohd Ayub Khan).</p><br />
        <span><a href="/publications/books-and-chapters">...Read more</a></span>
      </ul>
      <br />
    </div>
    <div id="chapters">
      <h5>Chapters:</h5>
      <ul>
        <p>Nisar, Shariq and Farooq, Umar. (2020) “Shari‘Ah Governance Practices in India”, The Edinburgh Companion to Shari’ah Governance in Islamic Finance, Edinburgh University Press, the UK, (ISBN 978-1474436007).</p><br />
        <p>Nisar, Shariq and Farooq, Umar. (2019) “Financial Intermediation, Fintech and Shariah Compliance”, Fintech in Islamic Finance: Theory and Practice, Routledge, London, the UK, (ISBN 978-1-138-49479-4).</p><br />
        <p>Nisar, Shariq and Rahman, Syed Mizanur. (2012) “Minority funds in India: institutional mobilization of micro savings”, In Shari‘a-compliant Microfinance, Routledge, London, the UK. (ISBN 041578266X).</p><br />
        <span><a href="/publications/books-and-chapters#chapters">...Read more</a></span>
      </ul>
    </div>
    <div id="book-reviews">
      <h3>Book Reviews</h3>
      <ul>
        <p>Islamic Financial Institutions of India: Progress, Problems and Prospects, By: M.I. Bagsiraj, Scientific Publishing Centre, King Abdul Aziz University, Jeddah, Saudi Arabia. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, September 2004, Vol.14, No.5, pp.3.</p><br />
        <p>Islamic Banking and Finance: New Perspectives on Profit Sharing and Risk, (Edits.) Munawar Iqbal and David, T. Llewellyn, Edward Elgar, Cheltenham, UK. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, January 2004, Vol.14, No.1, pp. 3-4</p><br />
        <p>Prohibition of Interest: Does it make sense? By M. Umer Chapra, Published by: Islamic Dawah Movement, Durban, South Africa. Reviewed by Nisar, Shariq, Islamic Economics Bulletin, January 2002, Vol. 13, No.2, pp.3.</p><br />
        <span><a href="/publications/book-reviews">...Read more</a></span>
      </ul>
    </div>
    <div id="articles">
      <h3>Articles</h3>
      <ul>
        <p>Nisar, Shariq. (2018) Islamic Bonds (Sukuk) and Its Application, Wealth: International Journal of Money, Banking and Finance, Vol. 7, Issue 2.</p><br />
        <p>Nisar, Shariq (et all). (2017) ICMIF Country Diagnostic on Mutual and Cooperative Microinsurance in India, jointly published by ICMIF and Insurance Institute of India.</p><br />
        <p>Nisar, Shariq and Ali, S Nazim. (2016) “The Significance of Faith-based Ethical Principles in Responding to the Recurring Financial Crises” Journal of Islamic Banking and Finance, October - December.</p><br />
        <span><a href="/publications/articles">...Read more</a></span>
       </ul>
    </div>
    <div id="islamic-economics-bulletin">
      <h3>Islamic Economics Bulletin</h3>
        <span><a href="/publications/magazines">...Read more</a></span>
       </ul>
    </div>
    </div>

  </div>


  

<%- include("./partials/footer") -%>
