<%- include("./partials/header.ejs") -%>
<div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(/images/magazine.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Islamic Economics Bulletin</h1>
    </div>  
  </div>
  <div class="container container--narrow page-section">

    <!-- <div class="metabox metabox--position-up metabox--with-home-link">
      <p><a class="metabox__blog-home-link" href="/resources"><i class="fa fa-bookmark" aria-hidden="true"></i>  Back to Resources</a></p>
    </div> -->

    <div class="metabox--position-up metabox--with-home-link">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="/resources">Download</a></li>
          <li class="breadcrumb-item active" aria-current="page">Islamic Economics Bulletin</li>
        </ol>
      </nav>
    </div>
    <br />

    <div class="generic-content">
      <p></p><br />
      <div class="alert alert-primary" role="alert">
        Click the link to expand.
      </div>

      <ul>
        <li><a data-toggle="collapse" href="#collapseDiv" role="button" data-target="#collapseDiv" aria-expanded="true" aria-controls="collapseDiv">Islamic Economics Bulletin</a></li><br />
        <div class="collapse" id="collapseDiv">
          <div class="card card-body">
            <div class="alert alert-primary" role="alert">
              Click to expand further.
            </div>
            <a data-toggle="collapse" href="#volume10" role="button" data-target="#volume10" aria-expanded="true" aria-controls="volume10">Volume 10</a><br />
            <div class="collapse" id="volume10">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
                <ul class="padding magazine-card" >
                  <li><a href="#">2000  Jan-Feb</a></li>
                  <li><a href="#">2000  Mar-Apr</a></li>
                  <li><a href="#">2000  May-Jun</a></li>
                  <li><a href="#">2000  Jul-Aug</a></li>
                  <li><a href="#">2000  Sept-Oct</a></li>
                  <li><a href="#">2000  Nov-Dec</a></li>
                </ul>
              </div>
            </div>
            <br />

            <a data-toggle="collapse" href="#volume11" role="button" data-target="#volume11" aria-expanded="false" aria-controls="volume11">Volume 11</a></a><br />
            <div class="collapse" id="volume11">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
              <ul class="magazine-card" >
                <li><a href="#">2001  Jan-Feb</a></li>
                <li><a href="#">2001  Mar-Apr</a></li>
                <li><a href="#">2001  May-Jun</a></li>
                <li><a href="#">2001  Jul-Aug</a></li>
                <li><a href="#">2001  Sept-Oct</a></li>
                <li><a href="#">2001  Nov-Dec</a></li>
              </ul>
            </div>
          </div>
            <br />

            <a data-toggle="collapse" href="#volume12" role="button" data-target="#volume12" aria-expanded="false" aria-controls="volume12">Volume 12</a></a><br />
            <div class="collapse" id="volume12">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
              <ul class="magazine-card" >
                <li><a href="#">2002  Jan-Feb</a></li>
                <li><a href="#">2002  Mar-Apr</a></li>
                <li><a href="#">2002  May-Jun</a></li>
                <li><a href="#">2002  Jul-Aug</a></li>
                <li><a href="#">2002  Sept-Oct</a></li>
                <li><a href="#">2002  Nov-Dec</a></li>
              </ul>
            </div>
          </div>
            <br />

            <a data-toggle="collapse" href="#volume13" role="button" data-target="#volume13" aria-expanded="false" aria-controls="volume13">Volume 13</a></a><br />
            <div class="collapse" id="volume13">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
              <ul class="magazine-card" >
                <li><a href="#">2003  Jan-Feb</a></li>
                <li><a href="#">2003  Mar-Apr</a></li>
                <li><a href="#">2003  May-Jun</a></li>
                <li><a href="#">2003  Jul-Aug</a></li>
                <li><a href="#">2003  Sept-Oct</a></li>
                <li><a href="#">2003  Nov-Dec</a></li>
              </ul>
            </div>
          </div>
            <br />

            <a data-toggle="collapse" href="#volume14" role="button" data-target="#volume14" aria-expanded="false" aria-controls="volume14">Volume 14</a></a><br />
            <div class="collapse" id="volume14">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
              <ul class="magazine-card" >
                <li><a href="#">2004  Jan-Feb</a></li>
                <li><a href="#">2004  Mar-Apr</a></li>
                <li><a href="#">2004  May-Jun</a></li>
                <li><a href="#">2004  Jul-Aug</a></li>
                <li><a href="#">2004  Sept-Oct</a></li>
                <li><a href="#">2004  Nov-Dec</a></li>
              </ul>
            </div>
          </div>
            <br />

            <a data-toggle="collapse" href="#volume15" role="button" data-target="#volume15" aria-expanded="false" aria-controls="volume15">Volume 15</a></a><br />
            <div class="collapse" id="volume15">
              <div class="card card-body">
                <div class="alert alert-primary" role="alert">
                    Click to view in google drive!
                  </div>
              <ul class="magazine-card" >
                <li><a href="#">2005  Jan-Feb</a></li>
                <li><a href="#">2005  Mar-Apr</a></li>
                <li><a href="#">2005  May-Jun</a></li>
                <li><a href="#">2005  Jul-Aug</a></li>
                <li><a href="#">2005  Sept-Oct</a></li>
                <li><a href="#">2005  Nov-Dec</a></li>
              </ul> 
            </div>
          </div>
          </div>
        </div>  
        <br />
      </ul>
    </div>
    </div>
<%- include("./partials/footer.ejs") -%>