<div class="generic-content">
  <p>
    <ul>
      <p>I am a lover of Ancient architecture.</p>
      <p>I love productivity, but have never used Evernote.</p>
      <p>I am a former volleyball player.</p>
      <p>I've been repeatedly told by my family that I walk too fast. I think I've slowed down considerably over the years.</p>
      <p>I don't believe in conspiracy theories.</p>
      <p>I was never good at Math.</p>
      <p>I watched a ton of movies in my childhood.</p>
      <p>I love to listen to Qawali.</p>
      <p>I search for meaning and purpose, even in small things.</p>
      <p>I love the mountains.</p>
    </ul>
  </p><br />
 </div> 
 <div class="generic-content">
  <h5>A Few Pet Peeves</h5>
  <p>
    <ul>
      <p>Dishonesty.</p>
      <p>People who interrupt when I speak.</p>
      <p>Plagiarism.</p>
      <p>Forgetfulness.</p>
    </ul>
  </p>